name: Validate Autoinstall File

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Validate autoinstall.yaml
        run: |
          git clone https://github.com/canonical/subiquity.git && cd subiquity/
          make install_deps
          ./scripts/validate-autoinstall-user-data.py -vvv ../autoinstall.yaml
