name: Validate Autoinstall File

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  validate:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Validate autoinstall.yaml
        run: |
          git clone https://github.com/canonical/subiquity.git
          make subiquity/install_deps
          ./subiquity/scripts/validate-autoinstall-user-data.py ./autoinstall.yaml
